// Custom.scss
// Option A: Include all of Bootstrap
// https://getbootstrap.com/docs/4.0/getting-started/theming/

$red: #ff0000;
$red40: #ff000040;
$black: #393939;
$grey: #3a3a3a;
$lightgrey: #e1e1e1;
$offWhite: #ededed;
$maxWidth: 1000px;
$bs: 0 12px 24px 0 rgba(0, 0, 0, 0.09);

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@import "node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/react-toastify/dist/ReactToastify.css";

// @font-face {
//   font-family: "radnika_next";
//   src: url("/static/radnikanext-medium-webfont.woff2");
//   font-weight: normal;
//   font-style: normal;
// }

body {
  // font-family: "radnika_next";
  a {
    text-decoration: none;
    color: $black;
    &:hover,
    &:focus,
    &.active {
      color: $red;
    }
  }
}

.nav {
  .nav-item {
    color: black;
  }
}
.container-fluid {
  padding: 0;
  .row {
    margin: 0;
  }
}

header {
  .search {
    border-top: 10px solid $black;

    input {
      width: 100%;
    }
  }

  .logo {
    font-size: 3rem;

    position: relative;
    z-index: 2;
    transform: skew(-7deg);
    margin-left: 2rem;
    padding-top: 1rem;
    a {
      padding: 0.5rem 1rem;
      background: $red;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
    }
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.skew {
}

.card {
  .card-price {
    background: $red;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    transform: rotate(3deg);
    top: -1rem;
    right: -1rem;
  }
}
.card.card_item {
  box-shadow: $bs;
  .card-title-wrapper {
    position: absolute;
    top: -2rem;
    text-align: center;
    width: 100%;
    .card-title {
      background: $red;
      color: white;
      transform: skew(-7deg);
      text-decoration: none;
      display: inline-block;
      padding: 5px 10px;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  @media (min-width: #{$md}) {
    width: 75%;
  }
}

.form-group.custom {
  label {
    margin-bottom: 0;
  }
  input {
    height: calc(1em + 0.5rem + 2px);
    font-size: 0.9rem;
  }
  textarea {
    font-size: 0.9rem;
  }

  .form-control:focus {
    color: #495057;
    outline: 0;
    border-color: $lightgrey;
    box-shadow: 0 0 0 0.2rem $red40;
  }
  .form-control-file.form-control {
    height: inherit;
  }
}

.card_image_wrapper {
  max-height: 18rem;
  overflow: hidden;
}

.error-display {
  padding: 0.5rem;
  background: white;
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 5px solid $red;
  p {
    margin: 0;
    font-weight: 100;
  }
  strong {
    margin-right: 1rem;
  }
}

.success-display {
  padding: 0.5rem;
  background: white;
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 5px solid green;
  p {
    margin: 0;
    font-weight: 100;
  }
  strong {
    margin-right: 1rem;
  }
}

// https://getbootstrap.com/docs/4.3/layout/overview/
@include media-breakpoint-down(md) {
  .md-table-responsive {
    display: block;
    width: 100%;
    overflow-x: overlay;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 3rem;
  }
}

.cart {
  overflow: auto;
  border-radius: 0;
  position: relative;
  background: white;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: 40%;
  min-width: 500px;
  bottom: 0;
  transform: translateX(100%);
  transition: all 0.3s;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  z-index: 5;
  &.open {
    transform: translateX(0);
  }
  .sum {
    font-size: 2rem;
  }
  .img {
    height: 5rem;
    img {
      height: 100%;
    }
  }
}

.search {
  .img {
    height: 3rem;
    margin-right: 1rem;
    text-align: center;
    min-width: 80px;
    img {
      height: 100%;
    }
  }
  .list-group-item.selected {
    background: $lightgrey;
    padding-left: 1rem;
    transition: all 0.3s;
  }
}

.order {
  margin-top: 2rem;
  .items {
    border-top: 1px solid $red;
  }
}
